*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    width: 1000px;
    min-height: 700px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #b5e550;
}

.container > input{
    width: 50%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    border-style: none;
    margin-bottom: 1rem;
    -webkit-box-shadow: 5px 4px 4px 1px rgba(0,0,0,0.5); 
    box-shadow: 5px 4px 4px 1px rgba(0,0,0,0.5);
}

button{
    margin-left: 1em;
    border-style: none;
    cursor: pointer;
    -webkit-box-shadow: 5px 4px 4px 1px rgba(0,0,0,0.5); 
    box-shadow: 5px 4px 4px 1px rgba(0,0,0,0.5);
}

.container > input, button{
    padding: 1rem;
    font-size: 1rem;
    background-color: #023020;
    color: white;
}

.noStyle{
    list-style:none;
}


li{
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    cursor: pointer;
}

ul button{
    border-radius: 50%; 
}

.dashed{
    text-decoration: line-through;
}

small{
    margin-left: 1rem;
    padding: 0.3em;
    border-radius: 1em;
}

.greenTrue{
    background-color: green;
}

.redFalse{
    background-color: crimson;
}